header {
    background-color: #7d0f15;
    color: #61dafb;
    height: 20rem;
    text-align: center;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

h1 {
    font-size: 5rem;
}